<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MY APP</title>
</head>

<body>
<form action="/quotes" method="POST">
	<input type="text" placeholder="name" name="name">
	<input type="text" placeholder="quote" name="quote">
	<button type="submit">Submit</button>
</form>

<ul class="quotes">
	<% for(var i = 0; i < quotes.length; i++) { %>
	<li class="quote">
		<span><%= quotes[i].name %></span>
		<span><%= quotes[i].quote %></span>
	</li>
	<% } %>
</ul>
<div>
	<p class="record-name">
		<input type="text" name="name" id="name" class="name" placeholder="Name" value="">
	</p>
	<p class="record-quote">
		<input type="text" name="quote" id="quote" class="quote" placeholder="Quote" value="">
	</p>
	<input type="text" name="update" id="key" class="key" placeholder="Key" value="">
	<button id="update"> Update</button>
</div>
<script src="main.js"></script>
</body>

</html>